<!DOCTYPE html>
<html>


<body>

<div class="schedule" *ngIf="scheduleNotClicked">
  <h3>AVAILABLE DOCTORS</h3>

  <form [formGroup]="doctorSearch" #f="ngForm" (ngSubmit)="getDoctorsByFilter(doctorSearch, 0)" class="form-horizontal" id="formSearch">
    <div class="searchCard">
      <div class="row">
        <div class="col-12 col-md-2">
          <span class="input-group-addon"> <i class="fa fa-hospital"> </i>
          <input class="form-control text-box single-line" formControlName="hospital" placeholder="Search by hospital" type="text" value=""></span>
        </div>
        <div class="col-12 col-md-2">
          <span class="input-group-addon"><i class="fas fa-city"></i>
          <input class="form-control text-box single-line" formControlName="city" placeholder="Search by city" type="text" value=""></span>
        </div>
        <div class="col-12 col-md-2">
          <span class="input-group-addon"><i class="fas fa-briefcase-medical"></i>
          <input class="form-control text-box single-line" formControlName="speciality" placeholder="Search by speciality" type="text" value=""></span>
        </div>
        <div class="col-12 col-md-5">
          <span class="input-group-addon"><i class="fa fa-user-md"></i>
          <input class="form-control text-box single-line" formControlName="name" placeholder="Search by name" type="text" value=""></span>
        </div>
        <div class="col-12 col-md-1">
          <button class="btn btn-primary pull-right" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </form>



  <div class="doctors" *ngIf="doctorsList.length!=0">
    <div class="doctor-card" *ngFor="let doctor of doctorsList">

      <div class="row">
        <div class="col-md-7 col-12">
          <div class="row">
            <div class="col-auto">
                <img class="photo" src="assets/img/avatar-doctor.png">
            </div>
            <div class="col-auto">
              <h4 class="card-doctor-name">Dr. {{doctor.firstName}} {{doctor.lastName}}</h4>
              <p class="card-spec">{{doctor.speciality}}</p>
              <div class="card-rating">
                <div class="fill-rating">
                    <div>★★★★★</div>
                </div>
                <span class="rating">5.00 (1 rating)</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-12">
        
            <span class="input-group-addon"> <i class="fas fa-hospital"> </i><div class="institute">{{doctor.hospital}}</div></span>
            <span class="input-group-addon"> <i class="fa fa-map-marker"></i><div class="card-spec">{{doctor.address}}, {{doctor.city}}</div></span> 
            <button class="btn btn-primary schedule-button" (click)="scheduleClicked(doctor)">
              SCHEDULE YOURSELF
            </button>
        </div>
      </div>
      
    </div>

    <div id="pagination-div">
      <nav aria-label="pagination" class="row align-items-center justify-content-center" *ngIf="doctorsList.length!=0">
          <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" (click)="getDoctorsByFilter(doctorSearch, 0); activate(1);"> << </a></li>
              
              <li class="page-item" *ngFor="let page of numbers"><button [ngClass]="active[page] ? 'page-link active' : 'page-link'"  (click)="getDoctorsByFilter(doctorSearch, page-1); activate(page);">{{page}}</button></li>

              <li class="page-item"><a class="page-link" (click)="getDoctorsByFilter(doctorSearch, lastPage-1); activate(lastPage);"> >> </a></li>
          </ul>
      </nav>
    </div>
  </div>
  
  <div class="doctors" *ngIf="doctorsList==0 && !isRequesting">
      <h3>No doctors were found in the database.</h3>
  </div>



</div>


<div class="schedule" *ngIf="!scheduleNotClicked">
 
  <div class="row">
    <div class="col-md">
      <button class="goBackButton btn btn-primary " (click)="goBack()">
        GO BACK
      </button>
      </div>
  </div>

  <div class="doctors">
    <div class="doctor-card">

      <div class="row">
        <div class="col-md-7 col-12">
          <div class="row">
            <div class="col-auto">
                <img class="photo" src="assets/img/avatar-doctor.png">
            </div>
            <div class="col-auto">
              <h4 class="card-doctor-name">Dr. {{doctor.firstName}} {{doctor.lastName}}</h4>
              <p class="card-spec">{{doctor.speciality}}</p>
              <div class="card-rating">
                <div class="fill-rating">
                    <div>★★★★★</div>
                </div>
                <span class="rating">5.00 (1 rating)</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-12">
            <span class="input-group-addon"> <i class="fas fa-hospital"> </i><div class="institute">{{doctor.hospital}}</div></span>
            <span class="input-group-addon"> <i class="fa fa-map-marker"></i><div class="card-spec">{{doctor.address}}, {{doctor.city}}</div></span> 
            <span class="input-group-addon"> <i class="fas fa-info"></i><div class="card-spec">{{doctor.description}}</div></span> 
        </div>

      </div>
      
    </div>
   
</div>

  
  <hr>


      <div class="searchCard">
        <div class="row">


          <div class="col-12 col-md-6">
            <span class="input-group-addon2">
            CHOOSE A DATE:</span>
          </div>


          <div class="col-12 col-md-6">
            <span class="input-group-addon"><i class="fa fa-calendar"></i> 
                 <input class="form-control" onkeydown="return false" placeholder="Click and select a date" [(ngModel)]="datePicked" (ngModelChange)="listScheduleForDate(datePicked)" (click)="d.toggle()" 
                 ngbDatepicker [minDate]="minDate" [maxDate]="maxDate" #d="ngbDatepicker">

              </span>
          </div>

        </div>
      </div>


  <hr>

  <div class="searchCard" *ngIf="dateSelected && appointmentIntervalsList.length!=0">
      <div class="row">
        <div class="col-12 col-md-1">
          <span class="input-group-addon2">
                HOUR:</span>
        </div>
      
        <div class="col-12 col-md-1" *ngFor="let appointmentInterval of appointmentIntervalsList">
          <button [ngClass]="activeDisponibility[appointmentInterval.appointmentIntervalId] ? 'btnDisponibility active' : 'btnDisponibility'"  (click)="activateDisponibility(appointmentInterval.appointmentIntervalId)">{{appointmentInterval.startHour}}</button>
        </div>
      </div>
    </div>

    <div class="addButton">
        <button type="submit" class="btn active btn-primary btn-lg form-control mb-2 mr-sm-2 mb-sm-0" [disabled]="!dateSelected || !disponibilitySelected">SCHEDULE</button>
    </div>


</div>

</body>

</html>
