::ng-deep footer{
    font-size: 16px;  
    padding: 28px 0;
    background: #343a40!important;
    color: white;
}

.container1 {
    margin-left: 8%;
    margin-right: 8%;
}

hr {
    border-width: 2px;
    border-color: black;
    margin-top: -0.1%;
}