::ng-deep footer{
    font-size: 16px;  
    padding: 22px 0;
    background: #343a40!important;
    color: white!important;
    margin-top: 2%;
    bottom: 0;
    position: static;
    width: 100%;
    clear: both;
}

body {
    min-height: 100vh;
}

#divshow {
    margin-left: 8vw;
    margin-right: 8vw;
    border:  1px ridge #e7e7e7;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: auto;
    padding-top: 1.5vw;
    padding-bottom: 3vw;
    margin-top: 50px;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 1vw;
    align-items: center;
}

#hr2 {
    border: .5px ridge #343a40!important;
}