::ng-deep footer{
    font-size: 16px;  
    padding: 22px 0;
    background: #343a40!important;
    color: white;
    margin-top: 2%;
    bottom: 0;
    position: static;
    width: 100%;
    clear: both;
}

.container1 {
    margin-left: 8%;
    margin-right: 8%;
}