<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


<div class="container mb-5">

  <div class="row">
    <div class="stat-box col-12 col-md-4">
      <div class="stat-box-header">
        117.4 million
      </div>
      <hr>
      <div class="stat-box-text">Number of blood donations collected globally</div>
    </div>

    <div class="stat-box col-12 col-md-4">
        <div class="stat-box-header">
            17.6 million
        </div>
        <hr>
        <div class="stat-box-text">Number of blood donations from voluntary unpaid donors has been reported from 2008 to 2019 </div>
      </div>

      <div class="stat-box col-12 col-md-4">
          <div class="stat-box-header">
            15.05
          </div>
          <hr>
          <div class="stat-box-text">Based on samples of 1000 people, the blood donation rate</div>
        </div>
  </div>

  
</div>


<section class="quote">
    <div class="container1">
      <div class="row">
        <div class="col-md-4 alignright offset-2">
            <blockquote class="large">
  
               Every few seconds, someone, somewhere, needs blood. Be there for someone else. Give blood. Share life. <cite>World Blood Donor Day, World Health Organization</cite>
              </blockquote>
  
        </div>
        <div class="col-md-6 aligncenter">
          <i class="fas fa-hand-holding-heart"></i>
        </div>
      </div>
    </div>
  </section>


<div class="details">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#toggle-content">Basic Requirements for Blood Donation</a>
            </div>
          </div>
          <div id="toggle-content" class="panel-collapse collapse">
              <ul>
                  <li>Must be at least 16 years old (16- and 17-year-olds must bring a signed permission form from a parent or guardian, if required by state or school).</li>
                  <li>Weigh at least 110 pounds.</li>
                  <li>Be in good general health.</li>
                  <li>For your safety and to ensure a positive donation experience, make sure you eat within two hours ahead of your donation. Drink plenty of water that day and 24 to 48 hours beforehand. Feel free to help yourself to something to eat and drink in our refreshment area.</li>
                  <li>Bring your ID—something with your name and one of the following: date of birth, donor ID number or your photo.</li>
                  <li>You must wait eight weeks between whole blood donations. Learn more about specific intervals for other types of donation.</li>
                  <li>You should not be under the influence of alcohol or recreational drugs at the time of donation.</li>
                </ul>
          </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#toggle-content1">Join as volunteer and help people in need</a>
              </div>
            </div>
            <div id="toggle-content1" class="panel-collapse collapse">
                adfsafdsafdafdsa
            </div>
          </div>
   
          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#toggle-content2">Search your blood type and find a blood donor</a>
                </div>
              </div>
              <div id="toggle-content2" class="panel-collapse collapse">
                  adfsafdsafdafdsa
              </div>
            </div>
     


     
    </div>
</div>



</body>

</html>
