::ng-deep footer{
    font-size: 16px;  
    padding: 22px 0;
    background: #343a40 !important;
    color: white !important;
    margin-top: 200px;
    position: relative;
    width: 100%;
    clear: both;
}

body {
    min-height: 100vh;
}

.mb-5 {
    margin-bottom: 3rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 2vw;
}

.stat-box-header {
    font-size: 3vw;
    color: #69D18B;
    font-weight: 500;
}



.stat-box-text {
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: bolder;
    font-style: italic;
    color: #4a4a4a;
}

.row {
    text-align:center;
}





.panel-title:hover {
    background: rgb(134, 223, 163);
}

.panel-title {
    outline: none;
    color: #fefefe;
    background: #69D18B;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bold;

    padding: 10px 20px;
    position: relative;
    display: block;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
}


#toggle-content {
    background: #F7F7F7;
    margin-top: -5px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

#toggle-content1 {
    background: #F7F7F7;
    margin-top: -5px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

#toggle-content2 {
    background: #F7F7F7;
    margin-top: -5px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

#toggle-content3 {
    background: #F7F7F7;
    margin-top: -5px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.details {
    padding-top: 2vw;
    padding-bottom: 3vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 20px;
}

.panel-default {
    margin-bottom: 3px;
}



.quote {
    background: #ce00bd;
    padding: 70px 0 50px;
    color: #fcfcfc;
    margin-bottom: 19px;
}

.container1 {
    margin-left: 8vw;
    margin-right: 8vw;
}

.alignright {
    text-align: right;
}
.aligncenter {
    text-align: center;
}
blockquote.large {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1em;
}

blockquote cite {
    display: block;
    font-size: 12px;
}

.bigIcon.fas {
    font-size: 10em;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}


blockquote.large:before {
    color: #eee;
    opacity: 0.6;
    font-size: 64px;
    font-family: FontAwesome;
    content: "\f10d";
    margin-right: 20px;
}

.button2, .button2:focus, .button2:active {
    width: 25%;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    color: white !important;
    border: none !important;
    background-color:  rgb(180, 0, 0) !important;
 }



.updateButton {
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 1vw;
}


@media only screen and (min-width: 1255px) {
    .updateButton .btn {
        border: 1px ridge #e7e7e7;
        margin-top: 1vw;
        font-size: .7vw;
        padding: 1.5vh; 
        font-weight: bold;
        width: 25%;
        margin-right:25px;
    }
}

@media only screen and (max-width: 1255px) {
    .updateButton .btn {
        border: 1px ridge #e7e7e7;
        margin-top: 1vw;
        font-size: 3vw;
        padding: 1.5vh; 
        font-weight: bold;
        width: 100%;
    }
}

.fa, .fas, .far {
    margin-right:5px;
}
.input-group-addon {
    background: transparent;
    color: black;
    border:none;
    margin-bottom: 29px;
}

.input-group-addon.addon2{

        margin-top: -10px !important;
        margin-bottom: -10px !important;

}

.button1:focus, .button1:active, .button1.active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    background-color:  #69D18B !important;
 }
 
 .btn:not(.active):hover{
     background-color: rgb(236, 236, 236)!important;
 }

 .btn:not(:disabled) {
     cursor:pointer;
 }

 .btn {
    background-color: #69D18B;
    border: none;
    cursor: pointer;
    color: white;
    min-width: 30px;
    margin-right: 10px;
}

 .col-sm-4, .col-md-2, .col-md-6 {
     margin-top: 15px;
 }
 .col-md-4 {
     margin-top:10px;
 }

 .error-message {
     font-weight: bold;
     text-align: center;
     margin-top: 13px;
     margin-bottom: 12px;
     font-size: 20px;
 }


 .bloodDonor-card {
    padding: 12px;
    border: 1px solid #dbdbdb;
    box-shadow: 2px 2px 2px #dbdbdb;
    margin-top: 18px;
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50px 20px;
    width:50%;
    margin-left: 25%;
}

.photo {
    height: auto;
    max-width: 220px;
    max-height: 220.6px;
 }

.col-xs-auto {
    margin-left: 17px;
}

.card-spec {
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 5px;
}

.schedule-button {
    margin-top: 33px;
}

.page-link {
    cursor: pointer;
}

.pagination {
    margin-top: 3%;
}

.page-item.active .page-link{
    background-color: #69D18B !important;
    color: white  !important;
    border: none  !important;
}

button {
    color: black;
}

button:focus, button:hover, button:active, .active {
    outline: none !important;
    box-shadow: none !important;
    color: white !important;
    background-color:  #69D18B !important;
 }