<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


<div class="container mb-5">

  <div class="row">
    <div class="stat-box col-12 col-md-4">
      <div class="stat-box-header">
        117.4 million
      </div>
      <hr>
      <div class="stat-box-text">Number of blood donations collected globally</div>
    </div>

    <div class="stat-box col-12 col-md-4">
        <div class="stat-box-header">
            17.6 million
        </div>
        <hr>
        <div class="stat-box-text">Number of blood donations from voluntary unpaid donors has been reported from 2008 to 2019 </div>
      </div>

      <div class="stat-box col-12 col-md-4">
          <div class="stat-box-header">
            15.05
          </div>
          <hr>
          <div class="stat-box-text">Based on samples of 1000 people, the blood donation rate</div>
        </div>
  </div>

  
</div>


<section class="quote">
    <div class="container1">
      <div class="row">
        <div class="col-md-4 alignright offset-2">
            <blockquote class="large">
  
               Every few seconds, someone, somewhere, needs blood. Be there for someone else. Give blood. Share life. <cite>World Blood Donor Day, World Health Organization</cite>
              </blockquote>
  
        </div>
        <div class="col-md-6 aligncenter">
          <i class="bigIcon fas fa-hand-holding-heart"></i>
        </div>
      </div>
    </div>
  </section>


<div class="details">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#toggle-content">Basic Requirements for Blood Donation</a>
            </div>
          </div>
          <div id="toggle-content" class="panel-collapse collapse">
              <ul>
                  <li>Must be at least 16 years old (16- and 17-year-olds must bring a signed permission form from a parent or guardian, if required by state or school).</li>
                  <li>Weigh at least 110 pounds.</li>
                  <li>Be in good general health.</li>
                  <li>For your safety and to ensure a positive donation experience, make sure you eat within two hours ahead of your donation. Drink plenty of water that day and 24 to 48 hours beforehand. Feel free to help yourself to something to eat and drink in our refreshment area.</li>
                  <li>Bring your ID—something with your name and one of the following: date of birth, donor ID number or your photo.</li>
                  <li>You must wait eight weeks between whole blood donations. Learn more about specific intervals for other types of donation.</li>
                  <li>You should not be under the influence of alcohol or recreational drugs at the time of donation.</li>
                </ul>
          </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#toggle-content1">Join as volunteer and help people in need</a>
              </div>
            </div>
            <div id="toggle-content1" class="panel-collapse collapse" *ngIf="!bloodDonorFailed">
                <form [formGroup]="joinBloodDonor" #f="ngForm" (ngSubmit)="addBloodDonor(joinBloodDonor)">
                    <div class="row">
      
                      <div class="col-sm-4 offset-4 form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-donate"></i></span> 
                              <select class="form-control" formControlName="type">
                                  <option id="undefined" [value]=null disabled  selected> Select blood type:</option>
                                  <option value="A-positive">
                                      A-positive
                                  </option>
                                  <option value="A-negative">
                                      A-negative
                                  </option>  
                                  <option value="B-positive">
                                      B-positive
                                  </option>
                                  <option value="B-negative">
                                      B-negative
                                  </option>
                                  <option value="AB-positive">
                                      AB-positive
                                  </option>
                                  <option value="AB-negative">
                                      AB-negative
                                    </option>
                                    <option value="O-positive">
                                        O-positive
                                    </option>

                                    <option value="O-negative">
                                        O-negative
                                      </option>
                              </select>
                          </div><!-- /input-group -->
                      </div>

                      
                    </div>
                    <div class="updateButton">
                        <button type="submit" class="btn active btn-primary btn-lg" [disabled]="f.invalid">JOIN</button>
                    </div>
                  </form>
            </div>

            <div id="toggle-content1" class="panel-collapse collapse" *ngIf="bloodDonorFailed">
                <div class="error-message">Sorry, you have already donated blood in the past eight weeks or you are not eligible to donate!</div>
            </div>
          </div>
   




          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#toggle-content2">Search your blood type and find a blood donor</a>
                </div>
              </div>
              <div id="toggle-content2" class="panel-collapse collapse">

                <form [formGroup]="bloodDonorSearch" #f="ngForm" (ngSubmit)="getBloodDonorsByFilter(bloodDonorSearch, 0)" class="form-horizontal" id="formSearch">
                  <div class="searchCard">
                    <div class="row">
                      <div class="col-12 col-md-6 ">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-donate"></i></span> 
                              <select class="form-control" formControlName="type">
                                  <option id="undefined" [value]=null disabled  selected> Select blood type:</option>
                                  <option value="A-positive">
                                      A-positive
                                  </option>
                                  <option value="A-negative">
                                      A-negative
                                  </option>  
                                  <option value="B-positive">
                                      B-positive
                                  </option>
                                  <option value="B-negative">
                                      B-negative
                                  </option>
                                  <option value="AB-positive">
                                      AB-positive
                                  </option>
                                  <option value="AB-negative">
                                      AB-negative
                                    </option>
                                    <option value="O-positive">
                                        O-positive
                                    </option>

                                    <option value="O-negative">
                                        O-negative
                                      </option>
                              </select>
                          </div><!-- /input-group -->
                      </div>
                      <div class="col-12 col-md-4 ">
                        
                        <span class="input-group-addon"><i class="fas fa-city"></i>
                        <input class="form-control text-box single-line" formControlName="city" placeholder="Search by city" type="text" value=""></span>
                      </div>
                      
                      <div class="col-12 col-md-2">
                        <button class="btn btn-primary pull-right" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>


                <div class="bloodDonors" *ngIf="bloodDonorsListValidated.length!=0">
                    <div class="bloodDonor-card" *ngFor="let bloodDonor of bloodDonorsListValidated">
                      <div class="row">

                              <div class="col-md-auto">
                                  <img class="photo" src="assets/img/donor-avatar.png">
                              </div>
                              <div class="col-md-auto">
                                <h3 class="card-doctor-name">{{bloodDonor.patient.firstName}} {{bloodDonor.patient.lastName}}</h3>
                                <div class="card-spec">{{bloodDonor.patient.city}}, {{bloodDonor.patient.country}}</div>
                                <span class="input-group-addon addon2"> <i class="fas fa-donate"> </i>{{bloodDonor.type}}</span>
                                <span class="input-group-addon addon2"> <i class="fa fa-envelope"></i>{{bloodDonor.patient.email}}</span> 
                                <span class="input-group-addon addon2"> <i class="fa fa-phone"></i>{{bloodDonor.patient.phoneNumber}}</span> 
                                <button class="btn btn-primary schedule-button" (click)="needBlood(bloodDonor)">
                                    TAKE OPPORTUNITY
                                </button>
                              </div>
                   
                    </div>                  
                  </div>
                </div>

                <div *ngIf="bloodDonorsListValidated.length==0">
                    <div class="error-message">No results found!</div>
                </div>




                <div id="pagination-div">
                    <nav aria-label="pagination" class="row align-items-center justify-content-center" *ngIf="bloodDonorsListValidated.length!=0">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" (click)="getBloodDonorsByFilter(bloodDonorSearch, 0); activate(1);"> << </a></li>
                            
                            <li class="page-item" *ngFor="let page of numbers"><button [ngClass]=" active[page] ? 'page-link active' : 'page-link'"  (click)="getBloodDonorsByFilter(bloodDonorSearch, page-1); activate(page);">{{page}}</button></li>
              
                            <li class="page-item"><a class="page-link" (click)="getBloodDonorsByFilter(bloodDonorSearch, lastPage-1); activate(lastPage);"> >> </a></li>
                        </ul>
                    </nav>
                  </div>


              </div>
            </div>





            <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#toggle-content3">Confirm that you donate already</a>
                  </div>
                </div>
                <div id="toggle-content3" class="panel-collapse collapse" *ngIf="!nothingToConfirm">
                    <h3 class="aligncenter">{{pendingPatient.firstName}} {{pendingPatient.lastName}} - {{pendingPatient.city}}, {{pendingPatient.country}}</h3>
                    <div class="updateButton">
                        <button  class="button1 btn active btn-primary btn-lg" (click)="confirmDonate()">YES, I DONATED</button>
                        <button  class="button2 btn active btn-primary btn-lg" (click)="declineDonate()">NO, I DIDN`T DONATE</button>
                    </div>
                   
                </div>
                <div id="toggle-content3" class="panel-collapse collapse" *ngIf="nothingToConfirm">
                    <div class="error-message">No requests available!</div>
                </div>
              </div>


     
    </div>
</div>



</body>

</html>
