<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="updatedMessage" *ngIf="displayMessage(1) && buttonsClicked[0]">
    <button id="close" type="button" (click)="removeMessage(1)" >x</button>
    <i class="fas fa-check-circle"> Your account has been updated.</i>
</div>

<div class="updatedMessage" *ngIf="displayMessage(2) && buttonsClicked[1]">
    <button id="close" type="button" (click)="removeMessage(2)" >x</button>
    <i class="fas fa-check-circle"> Your password has been changed.</i>
</div>

<div class="content" *ngIf="this.patient">
    <div class="intro">
      <p class="p1">
          Hello, <b><i><span style="color:#69D18B">ROLAND IORDACHE!</span></i></b>
      </p>
      <p class="p1">
          From your <b><i><span style="color:#343a40">ACCOUNT DASHBOARD</span></i></b> you have the ability to update your account information as personal information or password/e-mail.
      </p>
      <p class="p1">
          Select a <b><i><span style="color:#343a40">TAB</span></i></b> below to view or edit information.
      </p>
    </div>

    <div class="accountMenu">
        <button type="button" class="btn active btn-primary btn-lg" (click)="toggleShow(0)">MY ACCOUNT</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="toggleShow(1)" >PASSWORD</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="toggleShow(2)" >E-MAIL</button>
    </div>

    <div *ngIf="buttonsClicked[0]"  id="divshow" >
   
        <p class="p2head">
          <b>PROFILE INFORMATION</b>
        </p>

          <hr>
          <p class="p2">
              <b>Name: </b>{{this.patient.firstName}} {{this.patient.lastName}} | <b>Email Address: </b>{{this.patient.email}} | 
          
              <b>City: </b>{{this.patient.city}} | <b>Country: </b>{{this.patient.country}} | <b>Birthdate: </b>{{patient.birthdate | date:'dd/MM/yyyy'}} | <b>Phone Number: </b>{{this.patient.phoneNumber}}
          </p>

          <hr id="hr2">

          <form [formGroup]="patientEditForm" #f="ngForm" (ngSubmit)="editPatientProfile(f)">
            <div class="row">
                <div class="col-sm-4 ">
                  <fieldset>
                    <label>Email:</label>
                    <input type="email" value="{{patient.email}}" disabled class="form-control mb-2 mr-sm-2 mb-sm-0">
                  </fieldset>
                </div>
                <div class="col-sm-4 form-group" [ngClass]="{
                  'is-invalid': patientEditForm.get('firstName').invalid,
                  'is-valid': patientEditForm.get('firstName').valid 
                }">
                  <fieldset>
                    <label>First Name:</label>
                    <input [ngClass]="{
                      'is-invalid': patientEditForm.get('firstName').invalid,
                      'is-valid': patientEditForm.get('firstName').valid 
                    }" type="text" value="{{patient.firstName}}" formControlName="firstName" class="form-control mb-2 mr-sm-2 mb-sm-0">
                  </fieldset>
                </div>
                <div class="col-sm-4 form-group" [ngClass]="{
                  'is-invalid': patientEditForm.get('lastName').invalid,
                  'is-valid': patientEditForm.get('lastName').valid 
                }">
                  <fieldset>
                    <label>Last Name:</label>
                    <input [ngClass]="{
                      'is-invalid': patientEditForm.get('lastName').invalid,
                      'is-valid': patientEditForm.get('lastName').valid 
                    }" type="text" value="{{patient.lastName}}" formControlName="lastName" class="form-control mb-2 mr-sm-2 mb-sm-0" >
                  </fieldset>
                </div>
              </div>
          
          <div class="row">
              <div class="col-sm-6 form-group" [ngClass]="{
                'is-invalid': patientEditForm.get('city').invalid,
                'is-valid': patientEditForm.get('city').valid 
              }">
                <fieldset>
                  <label>City:</label>
                  <input [ngClass]="{
                    'is-invalid': patientEditForm.get('city').invalid,
                    'is-valid': patientEditForm.get('city').valid 
                  }" type="text" value="{{patient.city}}" formControlName="city" class="form-control mb-2 mr-sm-2 mb-sm-0">
                </fieldset>
              </div>
              <div class="col-sm-6 form-group" [ngClass]="{
                'is-invalid': patientEditForm.get('country').invalid,
                'is-valid': patientEditForm.get('country').valid 
              }">
                <fieldset>
                  <label>Country:</label>
                  <input [ngClass]="{
                    'is-invalid': patientEditForm.get('country').invalid,
                    'is-valid': patientEditForm.get('country').valid 
                  }" type="text" value="{{patient.country}}" formControlName="country" class="form-control mb-2 mr-sm-2 mb-sm-0">
                </fieldset>
              </div>

          </div>

          <div class="row">
              <div class="col-sm-4 form-group" [ngClass]="{
                'is-invalid': patientEditForm.get('birthdate').invalid,
                'is-valid': patientEditForm.get('birthdate').valid 
              }">
                <fieldset>
                  <label>Birthdate:</label>
                  <input [ngClass]="{
                    'is-invalid': patientEditForm.get('birthdate').invalid,
                    'is-valid': patientEditForm.get('birthdate').valid 
                  }" type="date" formControlName="birthdate" value="{{patient.birthdate | date:'yyyy-MM-dd'}}" id="txtDate" class="form-control mb-2 mr-sm-2 mb-sm-0">
                </fieldset>
              </div>
              <div class="col-sm-4 form-group" [ngClass]="{
                'is-invalid': patientEditForm.get('phoneNumber').invalid,
                'is-valid': patientEditForm.get('phoneNumber').valid 
              }">
                <fieldset>
                  <label>Phone:</label>
                  <input [ngClass]="{
                    'is-invalid': patientEditForm.get('phoneNumber').invalid,
                    'is-valid': patientEditForm.get('phoneNumber').valid 
                  }" type="text" value="{{patient.phoneNumber}}" formControlName="phoneNumber" class="form-control mb-2 mr-sm-2 mb-sm-0">
                </fieldset>
              </div>
              <div class="col-sm-4 form-group" [ngClass]="{
                'is-invalid': patientEditForm.get('password').invalid && patientEditForm.get('password').dirty || submitted && patientEditForm.get('password').invalid,
                'is-valid': patientEditForm.get('password').valid 
              }">
                <fieldset>
                  <label>Confirm Password:</label>
                  <input [ngClass]="{
                    'is-invalid': patientEditForm.get('password').invalid && patientEditForm.get('password').dirty || submitted && patientEditForm.get('password').invalid,
                    'is-valid': patientEditForm.get('password').valid 
                  }" type="password" formControlName="password" class="form-control mb-2 mr-sm-2 mb-sm-0">
                </fieldset>
              </div>
          </div>

          <div class="updateButton">
              <button type="submit" class="btn active btn-primary btn-lg" [disabled]="f.invalid || isRequesting">UPDATE</button>
          </div>
        </form>

   


      <label class="error-label" *ngIf="patientEditForm.get('firstName').invalid"> 
          Your First Name is required and must contain between 3 and 30 letters. (alphabets only)
      </label>  
      <label class="error-label" *ngIf="patientEditForm.get('lastName').invalid ">
          Your Last Name is required and must contain between 3 and 30 letters. (alphabets only)
      </label> 
      <label class="error-label" *ngIf="patientEditForm.get('city').invalid ">
          Your City is required and must contain between 3 and 30 letters. (alphabets only)
      </label>
      <label class="error-label" *ngIf="patientEditForm.get('country').invalid ">
          Your Country is required and must contain between 3 and 30 letters. (alphabets only)
      </label>  
      <label class="error-label" *ngIf="patientEditForm.get('phoneNumber').invalid ">
          Your Phone Number is required. (digits only)
      </label>  
      <label class="error-label" *ngIf="patientEditForm.get('birthdate').invalid && patientEditForm.get('birthdate').dirty && !patientEditForm.get('birthdate').errors?.DOBwrong">
          Your Birthdate is required and you must be not dead or from the future.
      </label>  
      <label class="error-label" *ngIf="patientEditForm.get('password').invalid && patientEditForm.get('password').dirty && !patientEditForm.get('password').errors?.passConfirmation || submitted && patientEditForm.get('password').invalid && !patientEditForm.get('password').errors?.passConfirmation">
          Your Password Confirmation is required, must contain between 6 and 35 characters and must match your registered password.
      </label>    
    </div>

  




    <div *ngIf="buttonsClicked[1]"  id="divshow" >
      
            <p class="p2head">
              <b>CHANGE YOUR PASSWORD</b>
            </p>

              <hr>
              
              <form [formGroup]="patientPasswordEditForm" #f="ngForm" (ngSubmit)="editPatientPassword(f)">
    
              <div class="row">
                  <div class="col-sm-6 form-group" [ngClass]="{
                    'is-invalid': patientPasswordEditForm.get('password').invalid && patientPasswordEditForm.get('password').dirty || submitted2 && patientPasswordEditForm.get('password').invalid,
                    'is-valid': patientPasswordEditForm.get('password').valid 
                  }">
                    <fieldset>
                      <label>Current Password:</label>
                      <input [ngClass]="{
                        'is-invalid': patientPasswordEditForm.get('password').invalid && patientPasswordEditForm.get('password').dirty || submitted2 && patientPasswordEditForm.get('password').invalid,
                        'is-valid': patientPasswordEditForm.get('password').valid 
                      }" type="password" formControlName="password" class="form-control mb-2 mr-sm-2 mb-sm-0">
                    </fieldset>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6 form-group"  [ngClass]="{
                    'is-invalid': patientPasswordEditForm.get('newPassword').invalid && patientPasswordEditForm.get('newPassword').dirty || submitted2 && patientPasswordEditForm.get('newPassword').invalid,
                    'is-valid': patientPasswordEditForm.get('newPassword').valid 
                  }">
                    <fieldset>
                      <label>New Password:</label>
                      <input  [ngClass]="{
                        'is-invalid': patientPasswordEditForm.get('newPassword').invalid && patientPasswordEditForm.get('newPassword').dirty || submitted2 && patientPasswordEditForm.get('newPassword').invalid,
                        'is-valid': patientPasswordEditForm.get('newPassword').valid 
                      }" type="password" formControlName="newPassword" class="form-control mb-2 mr-sm-2 mb-sm-0">
                    </fieldset>
                  </div>
                  <div class="col-sm-6 form-group" [ngClass]="{
                    'is-invalid': patientPasswordEditForm.get('confirmNewPassword').invalid && patientPasswordEditForm.get('confirmNewPassword').dirty || submitted2 && patientPasswordEditForm.get('confirmNewPassword').invalid || (patientPasswordEditForm.get('confirmNewPassword').valid && patientPasswordEditForm.get('newPassword').value!=patientPasswordEditForm.get('confirmNewPassword').value),
                    'is-valid': patientPasswordEditForm.get('confirmNewPassword').valid 
                  }">
                    <fieldset>
                      <label>Confirm New Password:</label>
                      <input [ngClass]="{
                        'is-invalid': patientPasswordEditForm.get('confirmNewPassword').invalid && patientPasswordEditForm.get('confirmNewPassword').dirty || submitted2 && patientPasswordEditForm.get('confirmNewPassword').invalid || (patientPasswordEditForm.get('confirmNewPassword').valid && patientPasswordEditForm.get('newPassword').value!=patientPasswordEditForm.get('confirmNewPassword').value),
                        'is-valid': patientPasswordEditForm.get('confirmNewPassword').valid 
                      }" type="password" formControlName="confirmNewPassword" class="form-control mb-2 mr-sm-2 mb-sm-0">
                    </fieldset>
                  </div>
              </div>
    
              <div class="updateButton">
                  <button type="submit" class="btn active btn-primary btn-lg" [disabled]="f.invalid || isRequesting || patientPasswordEditForm.get('newPassword').value!=patientPasswordEditForm.get('confirmNewPassword').value">UPDATE</button>
              </div>
            </form>
     
    
          <label class="error-label" *ngIf="patientPasswordEditForm.get('password').invalid && patientPasswordEditForm.get('password').dirty && !patientPasswordEditForm.get('password').errors?.passConfirmation || submitted2 && patientPasswordEditForm.get('password').invalid && !patientPasswordEditForm.get('password').errors?.passConfirmation">
              Your Password is required, must contain between 6 and 35 characters and must match your registered password.
          </label>  
          <label class="error-label" *ngIf="patientPasswordEditForm.get('newPassword').invalid && patientPasswordEditForm.get('newPassword').dirty || submitted2 && patientPasswordEditForm.get('newPassword').invalid">
              Your New Password is required, must contain between 6 and 35 characters.
          </label>   
          <label class="error-label" *ngIf="patientPasswordEditForm.get('confirmNewPassword').invalid && patientPasswordEditForm.get('confirmNewPassword').dirty || submitted2 && patientPasswordEditForm.get('confirmNewPassword').invalid">
              Your New Password Confirmation is required, must contain between 6 and 35 characters.
          </label>    
          <label class="error-label" *ngIf="(patientPasswordEditForm.get('confirmNewPassword').valid && patientPasswordEditForm.get('newPassword').value!=patientPasswordEditForm.get('confirmNewPassword').value)">
              The New Password and New Password Confirmation does not match.
          </label>    
    </div>





    <div *ngIf="buttonsClicked[2]"  id="divshow" >
      Div Content3
    </div>

  </div>

</body>

</html>
