::ng-deep footer{
    font-size: 16px;  
    padding: 22px 0;
    background: #343a40!important;
    color: white!important;
    margin-top: 2%;
    bottom: 0;
    position: static;
    width: 100%;
    clear: both;
}

.intro {
    padding-top: 2vw;
    padding-bottom: 3vw;
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
}

.p1 {
    margin-bottom: 2px;
}

.accountMenu {
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 1vw;
}



@media only screen and (min-width: 1255px) {
    .accountMenu .btn {
        background-color: rgb(248, 248, 248);
        border: 1px ridge #e7e7e7;
        border-radius: 0 !important;
        color: black;
        font-size: .7vw;
        padding: 2vh;
        font-weight: bold;
        width: 25%;
    }
}

@media only screen and (max-width: 1255px) {
.accountMenu .btn {
    background-color: rgb(248, 248, 248);
    border: 1px ridge #e7e7e7;
    border-radius: 0 !important;
    color: black;
    font-size: 3vw;
    padding: 2vh; 
    font-weight: bold;
    width: 100%;
    }
}

.accountMenu .btn:not(:last-child) {
    border-right: 1px ridge rgb(200, 200, 200);
}

button {
    cursor: pointer;
}

.btn[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #EEEEEE;
  }

button:focus, button:active, .active {
    outline: none !important;
    box-shadow: none !important;
    color: white !important;
    background-color:  #69D18B !important;
 }
 
 button:not(.active):hover{
     background-color: rgb(236, 236, 236)!important;
 }

 #divshow {
    padding-top: 1vw;
    margin-left: 8vw;
    margin-right: 8vw;
    border:  1px ridge #e7e7e7;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: auto;
}

#divshow1 {
    padding-top: 1vw;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: auto;
}

@media only screen and (max-width: 1222px) {
    .col-md-4 {
        margin-right: 25px;
    }
}

.row {
    margin-bottom: 1vw;
}

#hr2 {
    border: .5px ridge #343a40!important;
}

.updateButton {
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 1vw;
}


@media only screen and (min-width: 1255px) {
    .updateButton .btn {
        border: 1px ridge #e7e7e7;
        border-radius: 0 !important;
        margin-top: 2vw;
        font-size: .7vw;
        padding: 2vh; 
        font-weight: bold;
        width: 25%;
    }
}

@media only screen and (max-width: 1255px) {
    .updateButton .btn {
        border: 1px ridge #e7e7e7;
        border-radius: 0 !important;
        margin-top: 2vw;
        font-size: 3vw;
        padding: 2vh; 
        font-weight: bold;
        width: 100%;
    }
}

.photo {
    height: auto;
    max-width: 211px;
    max-height: 211.6px;
 }

.searchCard {

    background-color: white;
    padding: 12px;
    margin-top: 17px;
    margin-bottom: 17px;
    border: 1px solid #dbdbdb;
    box-shadow: 2px 2px 2px #dbdbdb;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 13px;
}

.card-spec {
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 5px;
}

.button2, .button2:focus, .button2:active {
    width: 25%;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    color: white !important;
    background-color:  rgb(180, 0, 0) !important;
 }

 .input-group-addon2 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 5px;
}


.bar5 {
    margin-right:10px;
    width: 60%; 
    height: 16px; 
    background-color: #69D18B;
}

.bar4 {
    margin-right:10px;
    width: 20%; 
    height: 16px; 
    background-color: #2196F3;
}

.bar3 {
    margin-right:10px;
    width: 5%; 
    height: 16px; 
    background-color: #00bcd4;
}

.bar2 {
    margin-right:10px;
    width: 5%; 
    height: 16px; 
    background-color: #ff9800;
}

.bar1 {
    margin-right:10px;
    width: 10%; 
    height: 16px; 
    background-color: #f44336;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.doctor-rating {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right:35px;
}

.nrStars {
    margin-right: 20px;
    margin-left: 20px;
}

ngb-rating {
    outline: none;
}


  .filled {
    color: #69D18B;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }

  .star {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    color: #d3d3d3;
}
  
  .full {
    color: red;
  }

  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #69D18B;
}


.titleCustom {
    font-weight: bold;
    margin-bottom: -11px;
    margin-left: 25px;
    font-size: 32px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid #dbdbdb;
}

.titleCustom1 {
    font-weight: bold;
    margin-bottom: -11px;
    margin-left: 25px;
    font-size: 21px;
    margin-right: 25px;
    margin-bottom: 10px;
}


.col-12 {
    text-align: center;
}

 .addButton {
    border: none;
    font-size: .7vw;
    padding: 1vh; 
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
}

 @media only screen and (min-width: 1255px) {
    .addButton .btn {
        border: none;
        font-size: .7vw;
        padding: 1vh; 
        font-weight: bold;
        margin-top: -10px;
        width: 15%;
    }
}

@media only screen and (max-width: 1255px) {
    .addButton .btn {
        border: none;
        font-size: 3vw;
        padding: 1vh; 
        font-weight: bold;
        margin-top: -10px;
        width: 40%;
    }
}

 
.row {
    align-items: center;
}

.fa, .fas, .far {
    margin-right:5px;
}

.reviews {
    background-color: #f8f8f8;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: pre-line;
    //border: 1px solid #e7e7e7;
}

hr {
    margin-left: 25px;
    margin-right: 25px;
}


h3 {
    text-align:center;
    font-weight: bold;
}

.input-group-addon {
    background: white;
    color: black;
    border:none;
    margin-bottom: -10px;
}


.content {
    min-height: calc(100vh - 40px);
}

input[type=text],[type=email],[type=date] {
    color: rgb(136, 136, 136);
    font-weight: bold;
}

@media only screen and (min-width: 1255px) {
    label.error-label {
        clear: both;
        background: #b11116;
        color: #fff;
        padding: 2px 5px;
        font-weight: normal;
        font-size: 0.8rem;
        min-height: auto;
        text-align: center;
        display: block;
        width: 33.3%;
        margin-left: 35%;
    }
}

@media only screen and (max-width: 1255px) {
    label.error-label {
        clear: both;
        background: #b11116;
        color: #fff;
        padding: 2px 5px;
        font-weight: normal;
        font-size: 0.8rem;
        min-height: auto;
        text-align: center;
        display: block;
        width: 100%;
    }
}

label {
    margin-bottom: .1rem;
}

.updatedMessage {
    text-align:center;
    background-color: #69D18B;
    font-weight: bold;
    padding: 15px;
    min-height: auto;
    color: white;
    clear: both;
    margin-top: 1vw;
    margin-bottom: .3vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

#close{
    float:right;
    display:inline-block;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
}

#close:hover {
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}
