<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Loved+by+the+King" type="text/css"/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' type='text/css'>
</head>


<body>

<div id="bg">
    <img src="assets/img/logo.png" alt="Logo" id="logo"/>
    <div class="container1" >
            <div class="row">
                    <div class="col-md-12" data-aos="fade-left" data-aos-duration="2600" data-aos-once="true"> 
                        <h1 class="title">Keeping track of your health. I am a:</h1>
                    </div>
                        <div class="col-md-12" align="center" data-aos="fade-right" data-aos-duration="2600" data-aos-once="true" >
                                <a class="btn-link" href="/doctor-login"><button class="btn" type="button" type="submit" value="doctor">DOCTOR</button></a>
                                <a class="btn-link" href="/patient-login"> <button class="btn" type="button" type="submit" value="patient">PATIENT</button></a>
                        </div>
            </div>
    </div> <!-- /container -->
</div>

<div class="intro">
    <div class="container2">
        <p class="p1">
            MedPortal is a Simple, Useful and Futuristic idea creating a portal that helps people find their medical history, search for possible donors, schedule doctor appointments, keep track of their health.
        </p>
    </div>
</div>

<div class="information">
    <div class="container3">
        <h2 class="container3-title">Some of our facilities</h2>
        <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="facility">
                        <div class="facility-head">
                                <img src="assets/img/ICON-doc.png" class="img-responsive">
                        </div>
                        <div class="facility-body">
                            CHOOSE YOUR DOCTOR BASED ON MANY REVIEWS
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="facility">
                        <div class="facility-head">
                                <img src="assets/img/ICON-doctors.png" class="img-responsive">
                        </div>
                        <div class="facility-body">
                            GET IN TOUCH WITH THE BEST DOCTORS AND GET AN APPOINTMENT
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="facility">
                        <div class="facility-head">
                                <img src="assets/img/ICON-heart.png" class="img-responsive">
                        </div>
                        <div class="facility-body">
                            BECOME A BLOOD DONOR AND HELP PEOPLE IN NEED
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="facility">
                        <div class="facility-head">
                                <img src="assets/img/ICON-pill.png" class="img-responsive">
                        </div>
                        <div class="facility-body">
                            REGISTER TO KEEP EVIDENCE OF YOUR MEDICAL HISTORY
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container3">
        <div class="row">
                <div class="col-xs-12 col-md-8">
                        <h3>Do you have any issue or idea to improve our website?</h3>
                </div>
                <div class="col-xs-12 col-md-4">
                        <button class="btn btn-primary btn-lg btn-round">Register And Contact us</button>
                </div>
        </div>
    </div>
</div>

</body>

</html>
