<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Loved+by+the+King" type="text/css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/ionicons@4.5.10-1/dist/ionicons.js"></script>

</head>


<body>

<div id="bg">
    <img src="assets/img/logo.png" alt="Logo" id="logo"/>
    <div class="container1" >
            <div class="row">
                    <div class="col-md-12" data-aos="fade-left" data-aos-duration="2600" data-aos-once="true"> 
                        <h1 class="title">Keeping track of your health. I am a:</h1>
                    </div>
                        <div class="col-md-12" align="center" data-aos="fade-right" data-aos-duration="2600" data-aos-once="true" >
                                <a class="btn-link" href="/doctor-login"><button class="btn" type="button" type="submit" value="doctor">DOCTOR</button></a>
                                <a class="btn-link" href="/patient-login"> <button class="btn" type="button" type="submit" value="patient">PATIENT</button></a>
                        </div>
            </div>
    </div> <!-- /container -->
</div>

<div class="intro">
    <div class="container2">
        <p class="p1">
            MedPortal is a Simple, Useful and Futuristic idea creating a portal that helps people find their medical history, search for possible donors, schedule doctor appointments, keep track of their health.
        </p>
    </div>
</div>

<section id="about">
    <div class="container">
        <h2 class="container3-title">Some of our facilities</h2>
        <div class="row about-cols">

                <div class="col-md-4">
                  <div class="about-col">
                    <div class="img">
                      <img src="assets/img/about-appointment.jpg" alt="" class="img-fluid">
                      <div class="icon"> </div>
                    </div>
                    <h2 class="title">Appointment & Review</h2>
                    <p>
                        Get in touch with the best doctors and book an appointment based on reviews.
                    </p>
                  </div>
                </div>
      
                <div class="col-md-4">
                  <div class="about-col">
                    <div class="img">
                      <img src="assets/img/about-donations.jpg" alt="" class="img-fluid">
                      <div class="icon"></div>
                    </div>
                    <h2 class="title">Blood Donor</h2>
                    <p>
                        Become a blood donor and help people in need or search your blood type.
                    </p>
                  </div>
                </div>
      
                <div class="col-md-4">
                  <div class="about-col">
                    <div class="img">
                      <img src="assets/img/about-medical-history.jpg" alt="" class="img-fluid">
                      <div class="icon"></div>
                    </div>
                    <h2 class="title">Medical History</h2>
                    <p>
                      Register to keep evidence of your medical history online in a simple mode.
                    </p>
                  </div>
                </div>
      
              </div>
      
    </div>
</section>

  


<div class="contact">
    <div class="container3">
        <div class="row">
                <div class="col-xs-12 col-md-8">
                        <h3>Do you have any issue or idea to improve our website?</h3>
                </div>
                <div class="col-xs-12 col-md-4">
                        <button class="btn btn-primary btn-lg btn-round contact-button">Contact</button>
                </div>
        </div>
    </div>
</div>

</body>

</html>
